.key{
      border: none;
      padding: 0;
    }
    #fill{
      border: none;
      margin: 0;
    }

    html,body{
      font-family: monospace;
      background-color: #000;
      margin: 0;padding: 0;
      overflow: hidden
      user-select :none;
    }
    #piano{
      position: fixed;
      width: 360px;
      cursor: pointer;
    }
#piano_white{
  position: absolute;
  /*top: 45%;*/
}
#piano_black{
  position: absolute;
}
.key-white, .key-black{
  /*position: relative;*/
  user-select :none;
  display: inline-block;
  /*width: 20px;*/
  height: 140px;

  /*box-sizing: border-box;*/
}
.key-white{
  border-top: 2px solid #820;
  border-radius: 4px 4px 2px 2px;
  border-bottom: 3px solid #aaa;
  width: 24px;
  display: table-cell;
  background-color: #eee;
  margin-right: 1px;
  margin-left: 1px;
  vertical-align: bottom;
  border-left:1px solid #ddd;
  border-right:1px solid #ddd;
  box-sizing: border-box;
  /*position: relative;*/
}
.key-black{
  border-bottom: 3px solid #000;
  background-color: #333;  
  border-left:1px solid #000;
  border-right:1px solid #000;
  box-sizing: border-box;
  /*margin-right: 10px;*/
  width: 16px;
  height: 75px;
  color: #eee;
  /*position: relative;*/
  /*left:-10px;*/
}
.playing{
  background-color: #820;
  border-color: #820;
  opacity: 1.0
}
